body {
    background-color:rgb(130, 167, 177);
}
H1{
    color:rgb(10, 10, 10);
    font-family: verdana;
    font-size: 200%;
    margin: 60px;
}
P{
    color: rgb(18, 17, 17);
    font-family: 'Courier; 
    font-size 100%; 
    margin: 50px;;
}
h4 {
    border: 2px solid powderblue;
    padding:30px
 }
 a:link {
    color:rgb(3, 32, 252);
    background-color: transparent;
    text-decoration: none ;
 }
a:visited {
    color:#0623f9;
    padding: 15px 25px;
    text-align: center;
    background-color:red5;
    text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
table {
  border-collapse: collapse;
  width: max-content;
}

th, td {
  border: 1px solid #999;
  padding: 4px 8px;
  font-size: 14px;
  white-space: nowrap;
}

table-wrapper {
  overflow-x: auto;
}


div {
   width:300px; 
   margin:auto;
}
dl {
    width: 200px;
    margin: auto;
}
table {
    width: 300px;
    margin: auto;
}
pre {
    width: 600px;
    margin: auto;
}
div.mycontainer {
  width:100%;
  overflow:auto;
}
div.mycontainer div {
  width:33%;  
  float:left;
}
h2 {
color:rgb(10, 10, 10);
    font-family: verdana;
    font-size: 100%;
    margin: 60px;
}
button {
    margin: 30px;
    background-color: rgb(253, 253, 254); 
}
#myheader {
    background-color: rgb(234, 238, 239);
    color: black;
    padding: 20px;
    text-align:center;
}
img {
    margin: 60px;
}
header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;

}
nav {
  float: left;
  width: 30%;
  height: 300px; 
  background: #ccc;
  padding: 20px;
}
nav ul {
  list-style-type: none;
  padding: 0;
}
article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #f1f1f1;
  height: 300px; 
}
section::after {
  content: "";
  display: table;
  clear: both;
}
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

@media  (max-width:600px) {
nav, article{
  width: 100%;
  height: auto;
}
}
aside {
  width: 300px;
   padding-left: 50px;
  margin-left: 15px;
  float: right;
  font-style: italic;
  background-color: lightgray;
}