body {
  background-image: url("image/background2.jpg"); /* Sets the background image */
  background-color: #82a7b1;          /* Fallback color if image doesn't load */
  background-repeat: no-repeat;
  background-position:top;
  background-attachment:scroll; 
}

/* all this disgn from the online CSS and html */

H1{
    color:rgb(10, 10, 10);
    font-family: verdana;
    font-size: 200%;
    margin: 60px;
}
P{
    color: rgb(18, 17, 17);
    font-family: 'Courier; 
    font-size 100%; 
    margin: 50px;;
}
h4 {
    border: 2px solid powderblue;
    padding:30px
 }
 a:link a:visited {
    color:rgb(3, 32, 252);
    background-color: transparent;
    text-decoration: none ;
    display: inline-block;
    padding: 14px 25px;
 }

a:visited {
    color:#0623f9;
    padding: 15px 25px;
    text-align: center;
    background-color:red5;
    text-decoration: none;

    /* this is code from w3 school i have to read it again */
}
a:hover,a:active {
  color: red;
  background-color: transparent;
  text-decoration: underline;

}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
table {
  border-collapse: collapse;
  width: max-content;
}

th, td {
  border: 1px solid #999;
  padding: 4px 8px;
  font-size: 14px;
  white-space: nowrap;
}

table-wrapper {
  overflow-x: auto;
}


div p {
   width:300px; 
   margin:auto;
}
dl {
    width: 200px;
    margin: auto;
}
table {
    width: 300px;
    margin: auto;
}
pre {
    width: 600px;
    margin: auto;
}
div.mycontainer {
  width:100%;
  overflow:auto;
}
div.mycontainer div {
  width:33%;  
  float:left;
  
}
h2 {
color:rgb(10, 10, 10);
    font-family: verdana;
    font-size: 100%;
    margin: 60px;
}
button {
    margin: 30px;
    background-color: rgb(253, 253, 254); 
     color: black;
  border: 2px solid #04AA6D; /* Green */
  .button2 {border-radius: 4px;}
  
}
#myheader {
    background-color: rgb(234, 238, 239);
    color: black;
    padding: 20px;
    text-align:center;
}
img {
    margin: 60px;
}
header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;

}
nav {
  float:left;
  width: 30%;
  height: 300px; 
  background: #ccc;
  padding: 20px;
}
nav ul {
  list-style-type: none;
  padding: 0;
}
article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #f1f1f1;
  height: 300px; 
}
section::after {
  content: "";
  display: table;
  clear: both;
}
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

@media  (max-width:600px) {
nav, article{
  width: 100%;
  height: auto;
}
}
aside {
  width: 300px;
   padding-left: 50px;
  margin-left: 15px;
  float: right;
  font-style: italic;
  background-color: lightgray;

}
/*  where the jurnal of CSS start and where html left me 
 now im ready to  start CSS  cant wait to write this on javscript */

p.center {
  text-align: center;
  color: rgb(80, 99, 4);
}
/* this can change everthing in CSS and desgin alot */
* {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
p.dashed {border-style: dashed;} 
/* this is  i was trying to design thr border*/
tr:hover{background-color: coral;}
/* when you click  on table you se change */

div.static {
  position: static;
  border: 2px solid #73AD21; 
}
div.fixed {
    position: fixed;
  bottom: 0;
  left: 0;
  width: 10px;
  border: 1px solid #73AD21;
}
ul {
  list-style-type: none;
  margin:0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  position: static;
}

li {
  float: left;
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: red;
}
/* copy from w3school to se how it work after when i need.
 it ill remember how it work and back here read it again */

.header, .footer {
  background-color: grey;
  color: white;
  padding: 15px;
}

.column {
  float: left;
  padding: 100px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.menu {
  width: 25%;
}

.content {
  width: 75%;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 8px;
  margin-bottom: 8px;
  background-color: #33b5e5;
  color: #ffffff;
}

.menu li:hover {
  background-color: #0099cc;
}
 a.highlight:hover {
  color:#ff0000;
  font-size: 22px;
 }
 
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
input[type=submit] {
  background-color: #4CAF50;
}

input[type=submit]:hover {
  background-color: #45a049;
}
div {
  box-shadow: 10px 10px 5px 12px lightblue;
}

/* this is what MY CODE I HAVE BEEN COPY FROM 3WSCHOOL.
 ILL LOOK BACK LATER W */

#div1 {animation-timing-function: linear;}
#div2 {animation-timing-function: ease;}
#div3 {animation-timing-function: ease-in;}
#div4 {animation-timing-function: ease-out;}
#div5 {animation-timing-function: ease-in-out;}

@keyframes mymove {
  from {left: 0px;}
  to {left: 300px;}
}
div6 {
  width: 100px;
  height: 50px;
  background-color: red;
  font-weight: bold;
  position: relative;
  animation: mymove 5s;
  animation-fill-mode: forwards;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;}
  div.polaroid {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}
.button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.pagination a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination a:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  gap: 10px;
  background-color: dodgerblue;
  padding: 10px;
}
.grid-container > div8 {
  background-color: #f1f1f1;
  color: #000;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}